/* 点击锚点链接时使得页面跳转平滑 */
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* 音乐播放器 */
audio {
  position: fixed;
  display: inline-block;
  width: 150px;
  bottom: 0px;
  border-radius: 5px;
}
/* 大盒子的样式 */
.big-box {
  width: 100%;
  height: 100%;
  background-color: rgb(230, 230, 230);
}

#top {
  width: 100%;
  height: 80px;
  overflow: hidden;
}

/* 标题样式 */
header {
  /* 使标题盒子浮动在左边 */
  float: left;
  width: 30%;
  height: 80px;
  background-color: rgb(255, 234, 211);
}

/* 标题logo样式 */
header .logo {
  font-size: 36px;
  font-weight: 900;
  color: rgb(172, 0, 0);
  font-family: "宋体";
  line-height: 80px;
  text-align: center;
}

/* 导航栏样式 */
nav {
  /* 使导航盒子浮动在右边 */
  float: right;
  width: 70%;
  height: 80px;
}

/* 导航栏每个格子的样式 */
/* 一级菜单样式 */
nav .DaoHang {
  /* 用flex布局 */
  display: flex;
  /* 让li平分空间 */
  justify-content: space-around;
  list-style: none;
  width: 100%;
}

/* li样式 */
nav .DaoHang .daohang {
  width: 100%;
  height: 100%;
}

/* li里面的a标签样式 */
nav .DaoHang .daohang a {
  /* 将a元素切换成行内块元素 */
  display: inline-block;
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 30px;
  font-family: "宋体";
  color: rgb(172, 0, 0);
  background-color: rgb(255, 234, 211);
}

/* 鼠标悬停a元素时的样式 */
nav .DaoHang .daohang a:hover {
  color: rgb(255, 234, 211);
  background-color: rgb(172, 0, 0);
  transition: 0.2s;
}

/* 二级菜单 */
/* 二级菜单ul的样式 */
nav .DaoHang .daohang ul {
  /* display: none用来隐藏二级菜单 */
  display: none;
  position: absolute;
  z-index: 999;
}

/* 鼠标悬停在一级菜单时，使二级菜单展示出来 */
nav .DaoHang .daohang:hover ul {
  display: block;
}

/* 二级菜单ul里的li的样式 */
nav .DaoHang .daohang ul li {
  /* 取消浮动让元素向下 */
  font: none;
  /* 去掉li里面的小圆点 */
  list-style: none;
  width: 266px;
  height: 100%;
}

/* li里a链接的样式 */
nav .DaoHang .daohang ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: rgb(255, 234, 211);
  background-color: rgb(172, 0, 0, 0.6);
}
/* 鼠标悬停时a链接的样式 */
nav .DaoHang .daohang ul li a:hover {
  color: rgb(172, 0, 0);
  background-color: rgb(255, 234, 211, 0.9);
  transition: 0.3s;
}

.beijin {
  width: 100%;
  height: 3200px;
  color: aliceblue;
  font-size: 50px;
  font-family: "宋体";
  font-weight: 800;
}

.beijin1 {
  width: 100%;
  height: 800px;
  font-size: 55px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beijin .beijin1:nth-of-type(1) {
  background: url(../images/jean2.webp) fixed no-repeat 100% 100%;
  background-size: 100% 100%;
}

.beijin .beijin1:nth-of-type(2) {
  background: url(../images/chess2.webp) fixed no-repeat 100% 100%;
  background-size: 100% 100%;
}

.beijin .beijin1:nth-of-type(3) {
  background: url(../images/book2.webp) fixed no-repeat 100% 100%;
  background-size: 100% 100%;
}

.beijin .beijin1:nth-of-type(4) {
  background: url(../images/draw2.webp) fixed no-repeat 100% 100%;
  background-size: 100% 100%;
}

/* 主内容盒子样式 */
main {
  width: 80%;
  height: 1000px;
  margin: 0 auto;
  background-color: rgb(247, 247, 247);
  position: relative;
}

/* 内容样式盒子 */
main .neirong {
  width: 100%;
  height: 400px;
  color: #222;
  font-family: "宋体";
}
/* 标题样式 */
strong {
  display: block;
  text-align: center;
  font-weight: 800;
}

/* 主标题 */
main .neirong strong .one {
  font-size: 28px;
  line-height: 25px;
}
/* 副标题 */
main .neirong strong .two {
  font-size: 16px;
  line-height: 25px;
}
/* 文字内容 */
main .neirong p {
  line-height: 25px;
  font-size: 19px;
  text-indent: 2em;
  letter-spacing: 0.2em;
  font-weight: 500;
}

/* 列表盒子样式 */
main .liebiao {
  width: 100%;
  height: 600px;
  background-color: rgb(255, 234, 211);
}

/* 列表盒子左盒子 */
main .liebiao .left {
  /* 向左边浮动 */
  float: left;
  width: 20%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

/* 列表盒子里左边a链接的样式 */
main .liebiao .left a {
  /* 转换为块级元素 */
  display: block;
  width: 150px;
  height: 120px;
  font-size: 35px;
  text-align: center;
  line-height: 120px;
  color: rgb(255, 234, 211);
  background-color: rgb(172, 0, 0);
}

/* 列表盒子右盒子 */
main .liebiao .right {
  /* 向右盒子浮动 */
  float: right;
  width: 80%;
  height: 600px;
  background-color: rgb(255, 234, 211);
  /* 用flex布局来布局子元素里的图片 */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

/* 右列表盒子的a链接的样式 */
main .liebiao .right a {
  display: block;
  width: 400px;
  height: 267px;
  background-color: #fff;
}

/* 鼠标悬停时的a跟图片会放大 */
/* a的样式 */
main .liebiao a {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.5s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

/* 鼠标悬停的样式 */
main .liebiao a:hover,
main .liebiao a:focus,
main .liebiao a:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* 锚点链接盒子的样式 */
main .maodian {
  position: absolute;
  bottom: 200px;
  left: 50%;
  margin-left: 608px;
  width: 80px;
  height: 80px;
  background-color: rgba(177, 177, 177, 0.445);
}

/* 锚点链接a的样式 */
main .maodian a {
  display: block;
  text-align: center;
  line-height: 80px;
  font-size: 50px;
  color: #222;
}
/* 鼠标悬停锚点链接时样式 */
main .maodian a:hover {
  background-color: rgba(255, 255, 255, 0.11);
  color: rgb(255, 129, 129);
  border: 1px solid rgb(255, 129, 129);
}
/* 页脚 */
footer {
  width: 100%;
  height: 80px;
  background-color: #000;
}

/* 页脚文字样式 */
footer p {
  color: #eee;
  text-align: center;
  line-height: 80px;
  height: 80px;
  font-size: 20px;
  font-family: "微软雅黑";
}
